body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
    background-color:#e3f2fd;
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid black;
    background-color: #1565c0;
    border-radius: 10px;
    width: 95%;
    height: 40vh;
    padding: 20px;
    box-shadow: -5px 5px 9px black;
}
input {
    padding: 20px;
    width: 50%;
    margin-bottom: 10px;
}
button{
 height: 50px;
 width: 200px;
 background-color: orangered;
}
button:hover{
    background-color: rgb(247, 113, 4);
}
#binaryOutput{
    color: red;
    font-size: 20px;
}
.output {
    font-weight: bold;
    margin-top: 20px;
}